{% extends 'myapp/base.html' %}

{% block content %}
<div class="bg-emerald-50 min-h-screen px-4 sm:px-6 lg:px-8 py-8">
    <div class="max-w-6xl mx-auto">
        <div class="bg-white rounded-2xl shadow-sm p-6 mb-8 border border-emerald-100">
            <h1 class="text-emerald-800 text-3xl font-bold text-center mb-8">Product Grid</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                {% for product in products %}
                <div class="bg-white p-4 rounded-lg shadow-md border border-emerald-100 relative">
                    {% if product.badge %}
                    <span class="absolute top-2 z-10 left-2 bg-yellow-400 text-black px-3 py-1 text-xs font-bold rounded">{{ product.badge }}</span>
                    {% endif %}
                    <a href="{{ product.link }}" target="_blank">
                        <img src="{{ product.img_url }}" alt="{{ product.title }}" class="w-full h-48 object-cover rounded-md transition-transform transform hover:scale-105">
                    </a>
                    <div class="mt-4">
                        <p class="text-emerald-600 text-sm">{{ product.collection }}</p>
                        <h2 class="text-lg font-bold text-emerald-800">{{ product.title }}</h2>
                        {% comment %} <div class="text-yellow-500">{{ product.rating }}</div> {% endcomment %}
                        <div class="flex items-center">
                            <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <p class="ms-2 text-sm font-bold text-gray-900">{{ product.rating }}</p>
                            {% comment %} <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span> {% endcomment %}
                            {% comment %} <a href="#" class="text-sm font-medium text-gray-900 underline hover:no-underline dark:text-white">73 reviews</a> {% endcomment %}
                        </div>
                        <div class="mt-2 text-lg">
                            <span class="text-gray-500 line-through">₹{{ product.old_price }}</span>
                            <span class="text-red-500 font-bold">₹{{ product.new_price }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
